<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="SuttonSilver\Testimonials\Api\TestimonialRepositoryInterface" type="SuttonSilver\Testimonials\Model\TestimonialRepository"/>
	<preference for="SuttonSilver\Testimonials\Api\Data\TestimonialInterface" type="SuttonSilver\Testimonials\Model\Testimonial"/>
	<preference for="SuttonSilver\Testimonials\Api\Data\TestimonialSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="SuttonSilver\Testimonials\Model\ResourceModel\Testimonial\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">suttonsilver_testimonials_testimonial</argument>
			<argument name="resourceModel" xsi:type="string">SuttonSilver\Testimonials\Model\ResourceModel\Testimonial\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="suttonsilver_testimonials_testimonial_grid_data_source" xsi:type="string">SuttonSilver\Testimonials\Model\ResourceModel\Testimonial\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Model\Entity\RepositoryFactory">
		<arguments>
			<argument name="entities" xsi:type="array">
				<item name="SuttonSilver\Testimonials\Api\Data\TestimonialInterface" xsi:type="string">SuttonSilver\Testimonials\Api\TestimonialRepositoryInterface</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\EntityManager\MetadataPool">
		<arguments>
			<argument name="metadata" xsi:type="array">
				<item name="SuttonSilver\Testimonials\Api\Data\TestimonialInterface" xsi:type="array">
					<item name="entityTableName" xsi:type="string">suttonsilver_testimonials_testimonial</item>
					<item name="identifierField" xsi:type="string">testimonial_id</item>
				</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
		<arguments>
			<argument name="extensionActions" xsi:type="array">
				<item name="SuttonSilver\Testimonials\Api\Data\TestimonialInterface" xsi:type="array">
					<item name="read" xsi:type="array">
						<item name="storeReader" xsi:type="string">SuttonSilver\Testimonials\Model\ResourceModel\Testimonial\Relation\Store\ReadHandler</item>
					</item>
					<item name="create" xsi:type="array">
						<item name="storeCreator" xsi:type="string">SuttonSilver\Testimonials\Model\ResourceModel\Testimonial\Relation\Store\SaveHandler</item>
					</item>
					<item name="update" xsi:type="array">
						<item name="storeUpdater" xsi:type="string">SuttonSilver\Testimonials\Model\ResourceModel\Testimonial\Relation\Store\SaveHandler</item>
					</item>
				</item>
			</argument>
		</arguments>
	</type>
</config>
