<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="suttonsilver" sortOrder="999" translate="label">
			<label>Sutton SIlver</label>
		</tab>
		<section id="testimonials" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Testimonials</label>
			<tab>suttonsilver</tab>
			<resource>SuttonSilver_Testimonials::config_suttonsilver_testimonials</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="post_from_frontend" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Post From Frontend</label>
					<comment>allow a customer to write testimonials</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="background" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<field id="small_background" translate="label" type="image" sortOrder="6" showInDefault="1" showInStore="1" showInWebsite="1" >
					<label>Upload Small Image Background</label>
					<backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
					<upload_dir config="system/filesystem/media" scope_info="1">testimonials/store</upload_dir>
					<base_url type="media" scope_info="1">testimonials/store</base_url>
				</field>
				<field id="medium_background" translate="label" type="image" sortOrder="6" showInDefault="1" showInStore="1" showInWebsite="1" >
					<label>Upload Medium Image Background</label>
					<backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
					<upload_dir config="system/filesystem/media" scope_info="1">testimonials/store</upload_dir>
					<base_url type="media" scope_info="1">testimonials/store</base_url>
				</field>
				<field id="large_background" translate="label" type="image" sortOrder="6" showInDefault="1" showInStore="1" showInWebsite="1" >
					<label>Upload Large Image Background</label>
					<backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
					<upload_dir config="system/filesystem/media" scope_info="1">testimonials/store</upload_dir>
					<base_url type="media" scope_info="1">testimonials/store</base_url>
				</field>
				<field id="xlarge_background" translate="label" type="image" sortOrder="6" showInDefault="1" showInStore="1" showInWebsite="1" >
					<label>Upload xLarge Image Background</label>
					<backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
					<upload_dir config="system/filesystem/media" scope_info="1">testimonials/store</upload_dir>
					<base_url type="media" scope_info="1">testimonials/store</base_url>
				</field>
			</group>
		</section>
	</system>
</config>
